main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
header h6{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: right;
} 