body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}
header {
    padding-bottom: 10px;
}
header h1 {
        display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

header h5 {
    display: flex;
    display: inline;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#introduction {
    display: flex;
    justify-content: center;
}
#introButton {
    display: block;
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    background-color: whitesmoke;
    margin-bottom: 3px;
    max-width: 200px;
    text-align: center;
}
#introButton:hover {
    background-color: blue;
    color: whitesmoke;
}
#introButton:active {
    color: black;
    font-weight: bold;
} 

main {
    margin-left: 4rem;
}
#questions {
    font-size: 20px;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#buttonOne {
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    background-color: whitesmoke;
    margin-bottom: 3px;
}
#buttonOne:hover {
    background-color: blue;
    color: whitesmoke;
}
#buttonOne:active {
    color: black;
    font-weight: bold;
}
#buttonTwo {
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    background-color: whitesmoke;
    margin-bottom: 3px;
}
#buttonTwo:hover {
    background-color: blue;
    color: whitesmoke;
}
#buttonTwo:active {
    color: black;
    font-weight: bold;
}
#buttonThree {
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    background-color: whitesmoke;
    margin-bottom: 3px;
}
#buttonThree:hover {
    background-color: blue;
    color: whitesmoke;
}
#buttonThree:active {
    color: black;
    font-weight: bold;
}
#buttonFour {
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    background-color: whitesmoke;
    margin-bottom: 3px;
}
#buttonFour:hover {
    background-color: blue;
    color: whitesmoke;
}
#buttonFour:active {
    color: black;
    font-weight: bold;
}
footer {
    border-top: 2px solid black;
    font-size: 1rem;
    font-style: italic;
    padding-top: 0px;
}


