body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}
header {
    padding-bottom: 10px;
}
header h1 {
        display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

header h5 {
    display: flex;
    display: inline;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main {
    margin-left: 4rem;
}
#questions {
    font-size: 20px;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#buttonOne {
    padding: 5px;
}
footer {
    border-top: 2px solid black;
    font-size: 1rem;
    font-style: italic;
    padding-top: 0px;
}


